 <!-- Page Title -->
<section class="flat-title-page" style="background-image: url('/assets/images/banner/banner-property-13.jpg');">
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="index.html" class="text-white">Trang Chủ</a></li>
                <li class="text-white">/ Thông Tin</li>
                <li class="text-white">/ Liên Hệ</li>
            </ul>
            <h1 class="text-center text-white title">Liên Hệ </h1>
        </div>
    </div>
</section>
<!-- End Page Title -->
<section class="flat-section flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-content">
                    <h4>Gửi cho chúng tôi một dòng</h4>
                    <p class="body-2 text-variant-1">Hãy kết nối với chúng tôi thông qua các kênh trực tuyến để cập nhật thông tin, tin tức và nhiều thông tin khác.</p>
                    <form id="contactform" method="post" action="https://homelengohtml.vercel.app/contact/contact-process.php" class="form-contact">
                        <div class="box grid-2">
                            <fieldset>
                                <label for="name">Tên đầy đủ:</label>
                                <input type="text" class="form-control" placeholder="Your name" name="name" id="name" required>
                            </fieldset>
                            <fieldset>
                                <label for="email">Địa chỉ email:</label>
                                <input type="text" class="form-control" placeholder="Email" name="email" id="email" required>
                            </fieldset>
                        </div>
                        <div class="box grid-2">
                            <fieldset>
                                <label for="phone">Số điện thoại:</label>
                                <input type="text" class="form-control style-1" placeholder="ex 012345678" name="phone" id="phone" required>
                            </fieldset>
                            <fieldset>
                                <label for="subject">Thông tin:</label>
                                <input type="text" class="form-control style-1" placeholder="Enter Keyword" name="subject" id="subject">
                            </fieldset>
                        </div>
                        <fieldset>
                            <label for="message">Lời nhắn của bạn:</label>
                            <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Message" id="message" required></textarea>
                        </fieldset>
                        <div class="send-wrap">
                            <button class="tf-btn primary size-1" type="submit">Gửi lời nhắn </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <h4>Liên Hệ </h4>
                    <ul>
                        <li class="box">
                            <h6 class="title">Địa chỉ:</h6>
                            <p class="text-variant-1">
                                101 E 129th St, East Chicago, IN 4631                      
                                <br>   Hoa Kỳ
                            </p>
                        </li>
                        <li class="box">
                            <h6 class="title">Infomation:</h6>
                            <p class="text-variant-1">1-333-345-6868 <br> hi.themesflat@gmail.com</p>
                        </li>
                        <li class="box">
                            <div class="title">Giờ mở cửa:</div>
                            <p class="text-variant-1">Thứ 2 - Thứ 6: 08:00 - 20:00 <br> Thứ 7 - Chủ nhật: 10:00 - 18:00</p>

                        </li>
                        <li class="box">
                            <div class="title">Theo dõi chúng tôi:</div>
                            <ul class="box-social">
                                <li>
                                    <a href="contact.html#" class="item">
                                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.00879 10.125L9.50871 6.86742H6.38297V4.75348C6.38297 3.86227 6.81961 2.99355 8.21953 2.99355H9.64055V0.220078C9.64055 0.220078 8.35102 0 7.11809 0C4.54395 0 2.86137 1.56023 2.86137 4.38469V6.86742H0V10.125H2.86137V18H6.38297V10.125H9.00879Z" fill="#161E2D" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html#" class="item">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.00245 4.38427C6.4484 4.38427 4.38828 6.44438 4.38828 8.99844C4.38828 11.5525 6.4484 13.6126 9.00245 13.6126C11.5565 13.6126 13.6166 11.5525 13.6166 8.99844C13.6166 6.44438 11.5565 4.38427 9.00245 4.38427ZM9.00245 11.9983C7.35195 11.9983 6.00264 10.653 6.00264 8.99844C6.00264 7.34392 7.34794 5.99862 9.00245 5.99862C10.657 5.99862 12.0023 7.34392 12.0023 8.99844C12.0023 10.653 10.653 11.9983 9.00245 11.9983ZM14.8816 4.19552C14.8816 4.79388 14.3997 5.27176 13.8054 5.27176C13.207 5.27176 12.7291 4.78986 12.7291 4.19552C12.7291 3.60118 13.211 3.11928 13.8054 3.11928C14.3997 3.11928 14.8816 3.60118 14.8816 4.19552ZM17.9376 5.28782C17.8694 3.84615 17.5401 2.56912 16.4839 1.51697C15.4318 0.46483 14.1547 0.135534 12.7131 0.0632491C11.2272 -0.021083 6.77368 -0.021083 5.28782 0.0632491C3.85016 0.131518 2.57313 0.460815 1.51697 1.51296C0.460815 2.5651 0.135534 3.84213 0.0632491 5.28381C-0.021083 6.76966 -0.021083 11.2232 0.0632491 12.7091C0.131518 14.1507 0.460815 15.4278 1.51697 16.4799C2.57313 17.532 3.84615 17.8613 5.28782 17.9336C6.77368 18.018 11.2272 18.018 12.7131 17.9336C14.1547 17.8654 15.4318 17.5361 16.4839 16.4799C17.5361 15.4278 17.8654 14.1507 17.9376 12.7091C18.022 11.2232 18.022 6.77368 17.9376 5.28782ZM16.0181 14.3033C15.7048 15.0904 15.0985 15.6968 14.3073 16.0141C13.1227 16.4839 10.3116 16.3755 9.00245 16.3755C7.6933 16.3755 4.87821 16.4799 3.69756 16.0141C2.91046 15.7008 2.30407 15.0944 1.98682 14.3033C1.51697 13.1187 1.6254 10.3076 1.6254 8.99844C1.6254 7.68928 1.52099 4.8742 1.98682 3.69355C2.30006 2.90645 2.90645 2.30006 3.69756 1.98281C4.88223 1.51296 7.6933 1.62139 9.00245 1.62139C10.3116 1.62139 13.1267 1.51697 14.3073 1.98281C15.0944 2.29604 15.7008 2.90243 16.0181 3.69355C16.4879 4.87821 16.3795 7.68928 16.3795 8.99844C16.3795 10.3076 16.4879 13.1227 16.0181 14.3033Z" fill="#161E2D" />
                                        </svg>

                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html#" class="item">
                                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.2775 2.16608C19.051 1.31346 18.3839 0.641967 17.5368 0.414086C16.0013 0 9.84445 0 9.84445 0C9.84445 0 3.68759 0 2.15212 0.414086C1.30502 0.642003 0.637857 1.31346 0.411419 2.16608C0 3.71149 0 6.93586 0 6.93586C0 6.93586 0 10.1602 0.411419 11.7056C0.637857 12.5583 1.30502 13.2018 2.15212 13.4296C3.68759 13.8437 9.84445 13.8437 9.84445 13.8437C9.84445 13.8437 16.0013 13.8437 17.5368 13.4296C18.3839 13.2018 19.051 12.5583 19.2775 11.7056C19.6889 10.1602 19.6889 6.93586 19.6889 6.93586C19.6889 6.93586 19.6889 3.71149 19.2775 2.16608ZM7.8308 9.86334V4.00837L12.9767 6.93593L7.8308 9.86334Z" fill="#161E2D" />
                                        </svg>

                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html#" class="item">
                                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.9797 3.83062C16.9917 3.99873 16.9917 4.16688 16.9917 4.33498C16.9917 9.46249 13.089 15.3706 5.95611 15.3706C3.75858 15.3706 1.71719 14.7341 0 13.6294C0.312227 13.6654 0.612403 13.6774 0.936643 13.6774C2.74986 13.6774 4.41904 13.065 5.75196 12.0203C4.04678 11.9843 2.61779 10.8675 2.12545 9.33042C2.36563 9.36643 2.60578 9.39045 2.85798 9.39045C3.20621 9.39045 3.55447 9.3424 3.87868 9.25838C2.10146 8.8981 0.768498 7.33705 0.768498 5.45175V5.40373C1.28483 5.69193 1.8853 5.87205 2.52169 5.89604C1.47697 5.19955 0.792524 4.01075 0.792524 2.66581C0.792524 1.94533 0.984621 1.28487 1.32087 0.70847C3.2302 3.06209 6.10019 4.59912 9.31838 4.76727C9.25835 4.47907 9.22231 4.17889 9.22231 3.87868C9.22231 1.74118 10.9515 0 13.101 0C14.2177 0 15.2264 0.468321 15.9349 1.22484C16.8115 1.05674 17.6521 0.732496 18.3966 0.288201C18.1084 1.18884 17.496 1.94536 16.6915 2.42566C17.472 2.34164 18.2285 2.12545 18.925 1.82527C18.3967 2.59377 17.7362 3.27821 16.9797 3.83062Z" fill="#161E2D" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html#" class="item">
                                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.35713 0C3.65693 0 0 2.4668 0 6.45913C0 8.99806 1.42815 10.4406 2.29369 10.4406C2.65073 10.4406 2.8563 9.44526 2.8563 9.16395C2.8563 8.82856 2.00157 8.11448 2.00157 6.71879C2.00157 3.81922 4.20871 1.76355 7.06501 1.76355C9.52099 1.76355 11.3386 3.15924 11.3386 5.72341C11.3386 7.63843 10.5705 11.2304 8.08202 11.2304C7.18402 11.2304 6.41585 10.5813 6.41585 9.65082C6.41585 8.28759 7.36795 6.96763 7.36795 5.56112C7.36795 3.17366 3.9815 3.60644 3.9815 6.49158C3.9815 7.09747 4.05724 7.76826 4.32772 8.32005C3.83003 10.4623 2.81302 13.654 2.81302 15.8611C2.81302 16.5427 2.91039 17.2135 2.97531 17.8951C3.09793 18.0322 3.03662 18.0178 3.22415 17.9492C5.0418 15.4608 4.97688 14.9739 5.79915 11.7173C6.24274 12.5612 7.38959 13.0156 8.29841 13.0156C12.1284 13.0156 13.8487 9.28297 13.8487 5.91816C13.8487 2.33697 10.7544 0 7.35713 0Z" fill="#161E2D" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-map">
    <div id="map" class="top-map" data-map-zoom="16" data-map-scroll="true"></div>
    <div class="container">
        <div class="wrap-filter-search">
            <div class="form-sl">
                <form method="post">
                    <div class="wd-find-select shadow-3">
                        <div class="inner-group">
                            <div class="form-group-1 search-form form-style">
                                <label>Type</label>
                                <div class="group-select">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">All</span>
                                        <ul class="list">
                                            <li data-value class="option selected">All</li>
                                            <li data-value="villa" class="option">Villa</li>
                                            <li data-value="studio" class="option">Studio</li>
                                            <li data-value="office" class="option">Office</li>
                                            <li data-value="house" class="option">House</li>


                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group-2 form-style">
                                <label>Location</label>
                                <div class="group-ip">
                                    <input type="text" class="form-control" placeholder="Search Location" value="" name="s" title="Search for" required="">
                                    <a href="topmap-grid.html#" class="icon icon-location">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group-3 form-style">
                                <label>Keyword</label>
                                <input type="text" class="form-control" placeholder="Search Keyword." value="" name="s" title="Search for" required="">
                            </div>

                        </div>
                        <div class="box-btn-advanced">
                            <div class="form-group-4 box-filter">
                                <a class="tf-btn btn-line filter-advanced pull-right">
                                    <span class="text-1">Search advanced</span>
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 12.375V3.4375M5.5 12.375C5.86467 12.375 6.21441 12.5199 6.47227 12.7777C6.73013 13.0356 6.875 13.3853 6.875 13.75C6.875 14.1147 6.73013 14.4644 6.47227 14.7223C6.21441 14.9801 5.86467 15.125 5.5 15.125M5.5 12.375C5.13533 12.375 4.78559 12.5199 4.52773 12.7777C4.26987 13.0356 4.125 13.3853 4.125 13.75C4.125 14.1147 4.26987 14.4644 4.52773 14.7223C4.78559 14.9801 5.13533 15.125 5.5 15.125M5.5 15.125V18.5625M16.5 12.375V3.4375M16.5 12.375C16.8647 12.375 17.2144 12.5199 17.4723 12.7777C17.7301 13.0356 17.875 13.3853 17.875 13.75C17.875 14.1147 17.7301 14.4644 17.4723 14.7223C17.2144 14.9801 16.8647 15.125 16.5 15.125M16.5 12.375C16.1353 12.375 15.7856 12.5199 15.5277 12.7777C15.2699 13.0356 15.125 13.3853 15.125 13.75C15.125 14.1147 15.2699 14.4644 15.5277 14.7223C15.7856 14.9801 16.1353 15.125 16.5 15.125M16.5 15.125V18.5625M11 6.875V3.4375M11 6.875C11.3647 6.875 11.7144 7.01987 11.9723 7.27773C12.2301 7.53559 12.375 7.88533 12.375 8.25C12.375 8.61467 12.2301 8.96441 11.9723 9.22227C11.7144 9.48013 11.3647 9.625 11 9.625M11 6.875C10.6353 6.875 10.2856 7.01987 10.0277 7.27773C9.76987 7.53559 9.625 7.88533 9.625 8.25C9.625 8.61467 9.76987 8.96441 10.0277 9.22227C10.2856 9.48013 10.6353 9.625 11 9.625M11 9.625V18.5625" stroke="#161E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                            <button type="submit" class="tf-btn btn-search primary">Search <i class="icon icon-search"></i> </button>
                        </div>

                    </div>
                    <div class="wd-search-form">
                        <div class="grid-2 group-box group-price">
                            <div class="widget-price">
                                <div class="box-title-price">
                                    <span class="title-price fw-6">Price:</span>
                                    <div class="caption-price">
                                        <span id="slider-range-value1" class="fw-6"></span>
                                        <span>-</span>
                                        <span id="slider-range-value2" class="fw-6"></span>
                                    </div>
                                </div>
                                <div id="slider-range"></div>
                                <div class="slider-labels">
                                    <div>
                                        <input type="hidden" name="min-value" value="">
                                        <input type="hidden" name="max-value" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="widget-price">
                                <div class="box-title-price">
                                    <span class="title-price fw-6">Size:</span>
                                    <div class="caption-price">
                                        <span id="slider-range-value01" class="fw-7"></span>
                                        <span>-</span>
                                        <span id="slider-range-value02" class="fw-7"></span>
                                    </div>
                                </div>
                                <div id="slider-range2"></div>
                                <div class="slider-labels">
                                    <div>
                                        <input type="hidden" name="min-value2" value="">
                                        <input type="hidden" name="max-value2" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-2 group-box">
                            <div class="group-select grid-2">
                                <div class="box-select">
                                    <label class="title-select fw-6">Rooms</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">2</span>
                                        <ul class="list">
                                            <li data-value="1" class="option">1</li>
                                            <li data-value="2" class="option selected">2</li>
                                            <li data-value="3" class="option">3</li>
                                            <li data-value="4" class="option">4</li>
                                            <li data-value="5" class="option">5</li>
                                            <li data-value="6" class="option">6</li>
                                            <li data-value="7" class="option">7</li>
                                            <li data-value="8" class="option">8</li>
                                            <li data-value="9" class="option">9</li>
                                            <li data-value="10" class="option">10</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-select">
                                    <label class="title-select fw-6">Bathrooms</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">2</span>
                                        <ul class="list">
                                            <li data-value="1" class="option">1</li>
                                            <li data-value="2" class="option selected">2</li>
                                            <li data-value="3" class="option">3</li>
                                            <li data-value="4" class="option">4</li>
                                            <li data-value="5" class="option">5</li>
                                            <li data-value="6" class="option">6</li>
                                            <li data-value="7" class="option">7</li>
                                            <li data-value="8" class="option">8</li>
                                            <li data-value="9" class="option">9</li>
                                            <li data-value="10" class="option">10</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="group-select grid-2">
                                <div class="box-select">
                                    <label class="title-select fw-6">Bedrooms</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">2</span>
                                        <ul class="list">
                                            <li data-value="1" class="option">1</li>
                                            <li data-value="2" class="option selected">2</li>
                                            <li data-value="3" class="option">3</li>
                                            <li data-value="4" class="option">4</li>
                                            <li data-value="5" class="option">5</li>
                                            <li data-value="6" class="option">6</li>
                                            <li data-value="7" class="option">7</li>
                                            <li data-value="8" class="option">8</li>
                                            <li data-value="9" class="option">9</li>
                                            <li data-value="10" class="option">10</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-select">
                                    <label class="title-select fw-6">Type</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">2</span>
                                        <ul class="list">
                                            <li data-value="1" class="option">1</li>
                                            <li data-value="2" class="option selected">2</li>
                                            <li data-value="3" class="option">3</li>
                                            <li data-value="4" class="option">4</li>
                                            <li data-value="5" class="option">5</li>
                                            <li data-value="6" class="option">6</li>
                                            <li data-value="7" class="option">7</li>
                                            <li data-value="8" class="option">8</li>
                                            <li data-value="9" class="option">9</li>
                                            <li data-value="10" class="option">10</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="group-checkbox">
                            <div class="text-1 text-black-2">Amenities:</div>
                            <div class="group-amenities grid-6">
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb1" checked>
                                        <label for="cb1" class="text-cb-amenities">Air Condition</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb2">
                                        <label for="cb2" class="text-cb-amenities">Cable TV</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb3">
                                        <label for="cb3" class="text-cb-amenities">Ceiling Height</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb4">
                                        <label for="cb4" class="text-cb-amenities">Fireplace</label>
                                    </fieldset>
                                </div>
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb5">
                                        <label for="cb5" class="text-cb-amenities">Disabled Access</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb6" checked>
                                        <label for="cb6" class="text-cb-amenities">Elevator</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb7">
                                        <label for="cb7" class="text-cb-amenities">Fence</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb8">
                                        <label for="cb8" class="text-cb-amenities">Garden</label>
                                    </fieldset>
                                </div>
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb9" checked>
                                        <label for="cb9" class="text-cb-amenities">Floor</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb10">
                                        <label for="cb10" class="text-cb-amenities">Furnishing</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb11" checked>
                                        <label for="cb11" class="text-cb-amenities">Garage</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb12">
                                        <label for="cb12" class="text-cb-amenities">Pet Friendly</label>
                                    </fieldset>
                                </div>
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb13">
                                        <label for="cb13" class="text-cb-amenities">Heating</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb14">
                                        <label for="cb14" class="text-cb-amenities">Intercom</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb15">
                                        <label for="cb15" class="text-cb-amenities">Parking</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb16">
                                        <label for="cb16" class="text-cb-amenities">WiFi</label>
                                    </fieldset>
                                </div>
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb17">
                                        <label for="cb17" class="text-cb-amenities">Renovation</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb18">
                                        <label for="cb18" class="text-cb-amenities">Security</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb19">
                                        <label for="cb19" class="text-cb-amenities">Swimming Pool</label>
                                    </fieldset>

                                </div>
                                <div class="box-amenities">
                                    <fieldset class="amenities-item">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb20">
                                        <label for="cb20" class="text-cb-amenities">Window Type</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb21">
                                        <label for="cb21" class="text-cb-amenities">Search property</label>
                                    </fieldset>
                                    <fieldset class="amenities-item mt-16">
                                        <input type="checkbox" class="tf-checkbox style-1" id="cb22">
                                        <label for="cb22" class="text-cb-amenities">Construction Year</label>
                                    </fieldset>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!--faqs-->
<section class="flat-section">
    <div class="container">
        <div class="tf-faq">
            <div class="box-title style-1 text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
                <div class="text-subtitle text-primary">Faqs</div>
                <h3 class="title mt-4">Câu hỏi thường gặp</h3>
            </div>
            <ul class="box-faq" id="wrapper-faq">
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-one">
                        Tại sao tôi nên sử dụng dịch vụ của bạn?
                    </a>
                    <div id="accordion-faq-one" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item active">
                    <a href="our-service.html#accordion-faq-two" class="faq-header" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-two">
                        Tôi có thể bắt đầu sử dụng dịch vụ của bạn như thế nào?
                    </a>
                    <div id="accordion-faq-two" class="collapse show" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-three">
                        Tôi có thể bắt đầu sử dụng dịch vụ của bạn như thế nào?
                    </a>
                    <div id="accordion-faq-three" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-four">
                        Có hỗ trợ khách hàng không?
                    </a>
                    <div id="accordion-faq-four" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng, bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi.
                            Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-five">
                        Làm thế nào tôi có thể cập nhật thông tin tài khoản của mình?
                    </a>
                    <div id="accordion-faq-five" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>
<!-- /faq -->
<!-- banner -->
<section class="flat-section pt-0 flat-banner wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
    <div class="container">
        <div class="wrap-banner bg-primary-new">
            <div class="box-left">
                <div class="box-title">
                    <div class="text-subtitle text-primary">Trở thành đối tác</div>
                    <h3 class="mt-4 fw-8">Đăng ký bất động sản của bạn trên Home lengo, hãy tham gia cùng chúng tôi ngay!</h3>
                </div>
                <a href="contact.html" class="tf-btn btn-view primary size-1 hover-btn-view">Trở thành nhà cung cấp hosting <span class="icon icon-arrow-right2"></span></a>
            </div>
            <div class="box-right">
                <img src="~/assets/images/service/home-2.png" alt="image">
            </div>
        </div>
    </div>
</section>
