 <!-- Page Title -->
<section class="flat-title-page" style="background-image: url('/assets/images/banner/banner-property-10.jpg');">
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="index.html" class="text-white">Trang Chủ</a></li>
                <li class="text-white">/ Thông Tin</li>
                <li class="text-white">/ Câu Hỏi Thường Gặp</li>
            </ul>
            <h1 class="text-center text-white title">Câu Hỏi Thường Gặp</h1>
        </div>
    </div>
</section>
<!-- End Page Title -->


<section class="flat-section">
    <div class="container">
        <div class="tf-faq">
            <h3 class="fw-8 text-center title">
                Tổng quan
            </h3>
            <ul class="box-faq" id="wrapper-faq">
                <li class="faq-item">
                    <a href="faq.html#accordion-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-one">
                        Tại sao tôi nên sử dụng dịch vụ của bạn?
                    </a>
                    <div id="accordion-faq-one" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item active">
                    <a href="faq.html#accordion-faq-two" class="faq-header" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-two">
                        Tôi có thể bắt đầu sử dụng dịch vụ của bạn như thế nào?
                    </a>
                    <div id="accordion-faq-two" class="collapse show" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-three">
                        Dịch vụ của bạn an toàn đến mức nào?
                    </a>
                    <div id="accordion-faq-three" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-four">
                        Có hỗ trợ khách hàng không?
                    </a>
                    <div id="accordion-faq-four" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-five">
                        Làm thế nào tôi có thể cập nhật thông tin tài khoản của mình?
                    </a>
                    <div id="accordion-faq-five" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="tf-faq">
            <h3 class="fw-8 text-center title">Chi phí và Thanh toán</h3>
            <ul class="box-faq" id="wrapper-faq-two">
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-one">
                        Bạn tính phí như thế nào?
                    </a>
                    <div id="accordion2-faq-one" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>

                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-two" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-two">
                        Tôi có thể thanh toán qua Message bằng cách nào?
                    </a>
                    <div id="accordion2-faq-two" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-three">
                        Có cơ hội giảm giá hoặc khuyến mãi không?
                    </a>
                    <div id="accordion2-faq-three" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-four">
                        Có khoản phí ẩn nào không được hiển thị trong bảng giá không?
                    </a>
                    <div id="accordion2-faq-four" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-five">
                        Thủ tục hoàn tiền là gì?
                    </a>
                    <div id="accordion2-faq-five" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion2-faq-six" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-six">
                        Có hỗ trợ về tài chính hoặc kế toán không?
                    </a>
                    <div id="accordion2-faq-six" class="collapse" data-bs-parent="#wrapper-faq-two">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="tf-faq">
            <h3 class="fw-8 text-center title">An toàn và bảo mật</h3>
            <ul class="box-faq" id="wrapper-faq-three">
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-one">
                        Dịch vụ của bạn hỗ trợ những ngôn ngữ nào?
                    </a>
                    <div id="accordion3-faq-one" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                            
                        </p>
                    </div>

                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-two" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-two">
                        Làm thế nào để tích hợp dịch vụ của bạn vào hệ thống của tôi?
                    </a>
                    <div id="accordion3-faq-two" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-three">
                        Hệ thống của bạn có những tính năng an toàn nào?
                    </a>
                    <div id="accordion3-faq-three" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-four">
                        Tôi có thể yêu cầu tính năng mới như thế nào?
                    </a>
                    <div id="accordion3-faq-four" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-five">
                        Dữ liệu của tôi có được bảo vệ không?
                    </a>
                    <div id="accordion3-faq-five" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="faq.html#accordion3-faq-six" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-six">
                        Làm thế nào để báo cáo sự cố kỹ thuật?
                    </a>
                    <div id="accordion3-faq-six" class="collapse" data-bs-parent="#wrapper-faq-three">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể,
                            thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</section>

