 <!-- Page Title -->
<section class="flat-title-page" style="background-image: url('/assets/images/banner/banner-property-12.jpg');">
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="index.html" class="text-white">Trang Chủ</a></li>
                <li class="text-white">/ Thông Tin</li>
                <li class="text-white">/  </li>
            </ul>
            <h1 class="text-center text-white title">Đăng ký làm môi giới</h1>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- các gói dịch vụ  -->
<section class="flat-section flat-pricing">
    <div class="container">
        <div class="box-title text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
            <div class="text-subtitle text-primary"></div>
            <h3 class="title mt-4">Đăng ký của chúng tôi</h3>
        </div>
        <div class="row">
            <div class="box col-lg-3 col-md-6 d-flex">
                <div class="box-pricing d-flex flex-column">
                    <div class="box price d-flex align-items-end">
                        <h3>99.000đ</h3>
                        <span class="body-2 text-variant-1">/tháng</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Cơ bản</h5>
                        <p class="desc">Tham gia và trải nghiệm cùng chúng tôi</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>
                            Dành cho người mới, cá nhân thử đăng tin

                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                           Đăng tối đa 10 tin/tháng
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                          Hiển thị tin ở mức cơ bản
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Quản lý tin đăng cá nhân
                        </li>
                    </ul>
                    <div class="box">
                        <a asp-controller="ServiceRegister"
                           asp-action="Create"
                           asp-route-planId="1"
                           class="tf-btn btn-view primary size-1 hover-btn-view">
                            Đăng ký ngay <span class="icon icon-arrow-right2"></span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6 d-flex">
                <div class="box-pricing d-flex flex-column">
                    <div class="box price d-flex align-items-end">
                        <h3>299.000đ</h3>
                        <span class="body-2 text-variant-1">/tháng</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Tiêu chuẩn</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>
                          Dành cho người bán/ cho thuê thường xuyên

                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                          Đăng tin tối đa 30 tin/tháng
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                           Tin được ưu tiên hơn gói cơ bản
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                          Gia hạn tin nhanh
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                           Thống kế lượt xem tin
                        </li>
                       
                    </ul>
                    <div class="box">
                        <a asp-controller="ServiceRegister"
                           asp-action="Create"
                           asp-route-planId="2"
                           class="tf-btn btn-view primary size-1 hover-btn-view">
                            Đăng ký ngay <span class="icon icon-arrow-right2"></span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6 d-flex">
                <div class="box-pricing d-flex flex-column">
                    <div class="box price d-flex align-items-end">
                        <h3>699.000đ</h3>
                        <span class="body-2 text-variant-1">/tháng</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Nâng cao</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Dành cho cá nhân bán chuyên/ đội nhóm nhỏ
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>


                           Đăng tin không giới hạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Ghim tin nổi bật
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                           Thống kê chi tiết hiểu quả tin 
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                           Hỗ trợ kỹ thuật
                        </li>
                    </ul>
                    <div class="box">
                        <a asp-controller="ServiceRegister"
                           asp-action="Create"
                           asp-route-planId="3"
                           class="tf-btn btn-view primary size-1 hover-btn-view">
                            Đăng ký ngay <span class="icon icon-arrow-right2"></span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6 d-flex">
                <div class="box-pricing d-flex flex-column">
                    <div class="box price d-flex align-items-end">
                        <h3>1.999.000đ</h3>
                        <span class="body-2 text-variant-1">/tháng</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Môi giới</h5>
                        <p class="desc">Tham gia cùng chúng tôi để trở thành một nhà môi giới</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                           Dành cho người đăng ký làm môi giới trên hệ thống
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Đăng tin không giới hạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Hồ sơ môi giới riêng 
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                           Nhận khách hàng từ hệ thống
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Tham gia chia hoa hồng giao dịch
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Hỗ trợ kỹ thuật
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                          Ưu tiên hiển thị cao nhất
                        </li>
                    </ul>
                    <div class="box">
                        <a asp-controller="ServiceRegister"
                           asp-action="Create"
                           asp-route-planId="4"
                           class="tf-btn btn-view primary size-1 hover-btn-view">
                            Đăng ký ngay <span class="icon icon-arrow-right2"></span>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /các gói dịch vụ -->
<style>
    .flat-pricing .box-pricing {
        height: 100%;
    }

    .flat-pricing .row {
        align-items: stretch;
    }

    /* ĐẨY NÚT "ĐĂNG KÝ NGAY" XUỐNG CÙNG */
    .flat-pricing .box-pricing .box:last-child {
        margin-top: auto;
    }
</style>
