 <!-- Page Title -->
<section class="flat-title-page" style="background-image: url('/assets/images/banner/banner-property-12.jpg');">
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="index.html" class="text-white">Trang Chủ</a></li>
                <li class="text-white">/ Thông Tin</li>
                <li class="text-white">/ Định Giá </li>
            </ul>
            <h1 class="text-center text-white title">Định Giá</h1>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- pricing -->
<section class="flat-section flat-pricing">
    <div class="container">
        <div class="box-title text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
            <div class="text-subtitle text-primary">Pricing</div>
            <h3 class="title mt-4">Đăng ký của chúng tôi</h3>
        </div>
        <div class="row">
            <div class="box col-lg-3 col-md-6">
                <div class="box-pricing">
                    <div class="box price d-flex align-items-end">
                        <h3>$20</h3>
                        <span class="body-2 text-variant-1">/month</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Giới thiệu</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Phương tiện di chuyển dành cho bạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Khách sạn hoặc nhà dân.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Bữa ăn và đồ uống miễn phí.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>


                            Hỗ trợ 24/7
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Người dùng không giới hạn
                        </li>
                    </ul>
                    <div class="box">
                        <a href="pricing.html#" class="tf-btn btn-view primary size-1 hover-btn-view">Xem tất cả thuộc tính<span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6">
                <div class="box-pricing">
                    <div class="box price d-flex align-items-end">
                        <h3>$99</h3>
                        <span class="body-2 text-variant-1">/month</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Căn cứ</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Phương tiện di chuyển dành cho bạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Khách sạn hoặc nhà dân.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Bữa ăn và đồ uống miễn phí.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Hỗ trợ24/7
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Người dùng không giới hạn
                        </li>
                    </ul>
                    <div class="box">
                        <a href="pricing.html#" class="tf-btn btn-view primary size-1 hover-btn-view">Xem tất cả thuộc tính <span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6">
                <div class="box-pricing active">
                    <div class="box price d-flex align-items-end">
                        <h3>$150</h3>
                        <span class="body-2 text-variant-1">/month</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">chuyên nghiệp</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Phương tiện di chuyển dành cho bạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>


                            Khách sạn hoặc nhà dân.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Bữa ăn và đồ uống miễn phí.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Hỗ trợ 24/7
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Người dùng không giới hạn
                        </li>
                    </ul>
                    <div class="box">
                        <a href="pricing.html#" class="tf-btn btn-view primary size-1 hover-btn-view">Xem tất cả thuộc tính <span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>
            <div class="box col-lg-3 col-md-6">
                <div class="box-pricing">
                    <div class="box price d-flex align-items-end">
                        <h3>$200</h3>
                        <span class="body-2 text-variant-1">/month</span>
                    </div>
                    <div class="box box-title-price">
                        <h5 class="title">Doanh nghiệp</h5>
                        <p class="desc">Tham gia cùng chúng tôi hàng tháng với mức giá rất hợp lý</p>
                    </div>
                    <ul class="box list-price">
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>
                            Phương tiện di chuyển dành cho bạn
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Khách sạn hoặc nhà dân.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2"></span>

                            Bữa ăn và đồ uống miễn phí.
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Hỗ trợ 24/7
                        </li>
                        <li class="item">
                            <span class="check-icon icon-tick2 disable"></span>

                            Người dùng không giới hạn
                        </li>
                    </ul>
                    <div class="box">
                        <a href="pricing.html#" class="tf-btn btn-view primary size-1 hover-btn-view">View All Properties <span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /pricing -->
<!--faqs-->
<section class="flat-section">
    <div class="container">
        <div class="tf-faq">
            <div class="box-title style-1 text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
                <div class="text-subtitle text-primary">Faqs</div>
                <h3 class="title mt-4">Câu hỏi thường gặp</h3>
            </div>
            <ul class="box-faq" id="wrapper-faq">
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-one">
                        Tại sao tôi nên sử dụng dịch vụ của bạn?
                    </a>
                    <div id="accordion-faq-one" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item active">
                    <a href="our-service.html#accordion-faq-two" class="faq-header" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-two">
                        Tôi có thể bắt đầu sử dụng dịch vụ của bạn như thế nào?
                    </a>
                    <div id="accordion-faq-two" class="collapse show" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-three">
                        Tôi có thể bắt đầu sử dụng dịch vụ của bạn như thế nào?
                    </a>
                    <div id="accordion-faq-three" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-four">
                        Có hỗ trợ khách hàng không?
                    </a>
                    <div id="accordion-faq-four" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng, bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi.
                            Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="our-service.html#accordion-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-five">
                        Làm thế nào tôi có thể cập nhật thông tin tài khoản của mình?
                    </a>
                    <div id="accordion-faq-five" class="collapse" data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            Sau khi tài khoản của bạn được thiết lập và bạn đã làm quen với nền tảng,
                            bạn đã sẵn sàng bắt đầu sử dụng các dịch vụ của chúng tôi. Cho dù đó là truy cập các tính năng cụ thể, thực hiện giao dịch,
                            hay sử dụng các công cụ của chúng tôi, bạn sẽ tìm thấy mọi thứ mình cần trong tầm tay.
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>
<!-- /faq -->
<!-- banner -->
<section class="flat-section pt-0 flat-banner wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
    <div class="container">
        <div class="wrap-banner bg-primary-new">
            <div class="box-left">
                <div class="box-title">
                    <div class="text-subtitle text-primary">Trở thành đối tác</div>
                    <h3 class="mt-4 fw-8">Đăng ký bất động sản của bạn trên Home lengo, hãy tham gia cùng chúng tôi ngay!</h3>
                </div>
                <a href="contact.html" class="tf-btn btn-view primary size-1 hover-btn-view">Trở thành nhà cung cấp hosting <span class="icon icon-arrow-right2"></span></a>
            </div>
            <div class="box-right">
                <img src="~/assets/images/service/home-2.png" alt="image">
            </div>
        </div>
    </div>
</section>
